In [1]:
import pandas as pd

## orient index

In [2]:
df1 = pd.DataFrame([['a', 'b'], ['c', 'd']], index=['row 1', 'row 2'], columns=['col 1', 'col 2'])

In [3]:
df1

      col 1 col 2
row 1     a     b
row 2     c     d

In [4]:
df1.to_json(orient='index')

'{"row 1":{"col 1":"a","col 2":"b"},"row 2":{"col 1":"c","col 2":"d"}}'

## orient records with lines

In [5]:
df1.to_json(orient='records', lines=True)

'{"col 1":"a","col 2":"b"}\n{"col 1":"c","col 2":"d"}'

## double precision

In [6]:
df2 = pd.DataFrame([[1/3, 1/6], [71/89, 9/17]], index=['row 1', 'row 2'], columns=['col 1', 'col 2'])

In [7]:
df2

          col 1     col 2
row 1  0.333333  0.166667
row 2  0.797753  0.529412

In [8]:
df2.to_json(orient='index', double_precision=1)

'{"row 1":{"col 1":0.3,"col 2":0.2},"row 2":{"col 1":0.8,"col 2":0.5}}'

In [9]:
df2.to_json(double_precision=3)

'{"col 1":{"row 1":0.333,"row 2":0.798},"col 2":{"row 1":0.167,"row 2":0.529}}'

## default handler

In [10]:
class MyCustomObject:
    
    def __init__(self, name, counter=0):
        self.name = name
        self.counter = counter

In [11]:
df3 = pd.DataFrame({'my_objects': [MyCustomObject('Object-1', 0), MyCustomObject('Object-2', 1)]})
df3

                                        my_objects
0  <__main__.MyCustomObject object at 0x10a7c51d0>
1  <__main__.MyCustomObject object at 0x10a7c5208>

In [12]:
# The default just parses the obj params
df3.to_json()

'{"my_objects":{"0":{"counter":0},"1":{"counter":1}}}'

In [13]:
# With the custom you can provide your own representation
def my_custom_handler(my_custom_object):
    return {my_custom_object.name: my_custom_object.counter}

In [14]:
df3.to_json(default_handler=my_custom_handler)

'{"my_objects":{"0":{"Object-1":0},"1":{"Object-2":1}}}'